.aboutSection{
    //background-color: rgb(223, 236, 244);
    background-color: rgb(252, 250, 249);
    padding: 70px 20px; 
    // text-align: center;
    

    &__section1{
        display: flex;
        justify-content: space-between;

        &--title{
            font-size: 40px;
    
        }
    
        &--image{
            width: 700px;
            border-radius: 190px;
            box-shadow: 1px 1px 10px 1px rgb(190, 174, 163);
            border: 1px solid black;
        }
    }

    &__section2 {
        margin-top: 100px;

        &--image{
            width: 400px;
            border-radius: 190px;
            box-shadow: 1px 1px 10px 1px rgb(190, 174, 163);
            border: 2px solid black;
        }

    }

   
}