// .carousel{
//     margin: 0;
// }

.project {
    //display: flex;
    //justify-content: space-around;
    //align-items: center;
    margin-bottom: 70px;

    &__info{
        //margin-top: 50px;
        color: black;
        //align-self: center;
        text-align: end;
        padding-bottom: 50vh;
        margin-right: -8vw;
        //background-color: aqua;
        //width: 50%;

        &--title{
            font-size: 40px;
            color: rgb(170, 196, 208);
            margin-bottom: 20px;
        }

        &--description{
            margin-bottom: 20px;
            font-size: 20px;
        }

        &--technologies{

        }
    }

    &__image{
       // width: 700px;
       width: 50%;
        border: 5px solid rgb(152, 194, 194); 
    }
}


.carousel .carousel-indicators button {
    //color: black;
    background-color: rgb(200, 224, 233);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    //margin-bottom: -100px;

}



.carousel-control-prev-icon {
    padding: 20px;
}

.carousel-control-next-icon {
    padding: 20px;
}