// .carousel{
//     margin: 0;
// }

.project {
    //display: flex;
    //justify-content: space-around;
    //align-items: center;
    margin-bottom: 70px;
    //background-color: rgb(71, 78, 78);

    &__info{
        color: black;
        //text-align: end;
        //padding-bottom: 50vh;
        margin-bottom: 50vh;
        right: 0;
        left: 50vw;
        //margin-right: -50vw;
        //background-color: rgb(220, 247, 247);
        //width: 50%;
        //width: 40vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        // align-items: end;
        // padding-right: 80px;

        &--title{
            font-size: 40px;
            color: rgb(170, 196, 208);
            margin-bottom: 20px;
        }

        &--description{
            margin-bottom: 20px;
            font-size: 20px;
        }

        &--technologies{

        }
    }

    .projectLinks{
        display: flex;
        gap: 10px;

        &__github, &__website {
            font-size: 25px;
            color: rgb(190, 211, 215);
        }
    }

    &__image{
       // width: 700px;
       width: 50%;
        border: 5px solid rgb(152, 194, 194); 
    }
}


.carousel .carousel-indicators button {
    background-color: rgb(200, 224, 233);
    width: 16px;
    height: 16px;
    border-radius: 50%;
}


.chevronIconLeft{
    //color: rgb(163, 147, 183);
    color:rgb(200, 224, 233);
    font-size: 40px;
    margin-left: -100px;
}

.chevronIconRight{
    //color: rgb(163, 147, 183);
    color:rgb(200, 224, 233);
    font-size: 40px;
    margin-right: -100px;
}