.footer{
    padding: 15px 0;
    border: 2px solid rgb(42, 39, 42);
    color: rgb(165, 156, 165);
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: 20px;

    &__creation{

        &--author{
            color: rgb(192, 178, 203);
            font-weight: bold;
        }
    }

    &__socials{
        font-size: 30px;

        &--anchor{
            color: rgb(203, 188, 215);

            .socialsIcon{
                margin-right: 30px;
                cursor: pointer;
            }
        }
    }
 
}