.footer{
    padding: 10px 0;
    // background-color: rgb(40, 38, 41);
    //color: white;
    border: 2px solid rgb(71, 67, 70);
    color: rgb(149, 122, 149);
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
 
}