.galleryGrid{
    color: black;
    background-color: rgb(198, 221, 227);
    color: rgb(255, 255, 255);
    // background-color: rgb(236, 224, 239);
    // color: rgb(147, 129, 154);
    padding: 15px; 
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: -299px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    
}