.header{
    background-color: rgb(195, 191, 208);
    //background-color: rgb(205, 194, 216);
    padding: 10px 2%;
    border: 1px solid black;  
    display: flex;
    justify-content: space-between;


    @media (max-width: 800px) {
        display: flex; 
    }


    &__mainName{
        color: white;
        cursor: pointer;
    }

    &__burgerMenu{
        display: none; 
        cursor: pointer; 

        @media (max-width: 800px) {
            display: flex; 
            color: black;
            align-items: center;
            position: absolute;
            right: 1rem;
            top: 1rem; 
            z-index: 2; 
        }

        &--icon{
            font-size: 40px;
            // color: white;

            @media (max-width: 800px) {
               //color: black;
               color: white;
                // position: absolute; 
                // z-index: 1;
            }
        }
    }
}

.headerMenuOpen {
    justify-content: center;

     &__mainName {
            z-index: 2;
            font-size: 100px;
            color: black;
            font-family: "Poppins";
            letter-spacing: -5px;
            font-weight: bold;
            padding-top: 20px;
            //line-height: 100vh;

            //background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
            //background: -webkit-linear-gradient(rgb(223, 191, 241) 0%, rgb(154, 183, 202) 50%, rgb(168, 214, 243) 100%);
            //background: -webkit-linear-gradient(rgb(194, 178, 203) 0%, rgb(208, 191, 217) 30%, rgb(139, 147, 186) 60%, rgb(139, 147, 186) 100%);
            //background: -webkit-linear-gradient(rgb(194, 178, 203) 0%, rgb(208, 191, 217) 30%, rgb(139, 147, 186) 100%);
            // background: -webkit-linear-gradient(rgb(194, 178, 203) 0%, rgb(208, 191, 217) 30%, rgb(177, 182, 206) 60%, rgb(139, 147, 186) 100%);
            // background: -webkit-linear-gradient(0.5turn, rgb(144, 188, 210) 0%, rgb(196, 179, 196) 30%, rgb(192, 170, 205) 60%, rgb(139, 147, 186) 100%);
            // background: -webkit-linear-gradient(0.5turn, rgb(144, 188, 210) 0%, rgb(168, 183, 206) 30%, rgb(200, 181, 214) 50%, rgb(192, 170, 205) 60%, rgb(139, 147, 186) 100%);
            background: -webkit-linear-gradient(0.5turn, rgb(144, 188, 210) 0%, rgb(184, 198, 220) 20%, rgb(168, 186, 213) 30%, rgb(200, 181, 214) 50%, rgb(192, 170, 205) 60%, rgb(139, 147, 186) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            //background-image: url("/src/images/pexels-ben-mack-6775393.jpg");
            //background-image: url("/src/images/newyork.jpg");
            //background-repeat: repeat;
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
        }
}


// @media (max-width: 768px) {
//     .header .burgerMenu {
//         display: block; 
//     }
// }
