.header{
    background-color: rgb(195, 191, 208);
    padding: 10px 2%;
    border: 1px solid black;  
    display: flex;
    justify-content: space-between;

    &__mainName{
        color: white;
        cursor: pointer;
    }

    // &__menu{
    //     list-style: none;
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     width: 50%; 
    //     color: white; 
    //     font-weight: bold;
    //     font-size: 19px;
    //     cursor: pointer;

    //     &--item {

            
    //         // }
            
    //         // &::after {
    //         //     color: black;
    //         //     content: "";
    //         //     position: absolute;
    //         //     bottom: -10px; /* Adjust this value as needed */
    //         //     left: 50%;
    //         //     transform: translateX(-50%);
    //         //     width: 8px;
    //         //     height: 8px;
    //         //     background-color: transparent;
    //         //     border-radius: 50%;
    //         //     transition: background-color 0.3s ease;
    //         // }

    //         // &:hover::after{
    //         //     background-color: black;
    //         // }

    //         // &:hover{
    //         //     // border-bottom: 1px dotted black;
    //         //     // text-decoration: none;
    //         //     text-decoration: underline;
    //         //     text-decoration-style: dotted;
    //         //     color: black;
    //         // }
            
    //     }
    // }

}

// .nav ul li::after {
//     color: black;
//     content: "";
//     position: absolute;
//     bottom: -10px; /* Adjust this value as needed */
//     left: 50%;
//     transform: translateX(-50%);
//     width: 8px;
//     height: 8px;
//     background-color: transparent;
//     border-radius: 50%;
//     transition: background-color 0.3s ease;
// }

// .nav ul li:hover::after{
//     background-color: black;
// }