.header{
    background-color: rgb(195, 191, 208);
    padding: 10px 2%;
    border: 1px solid black;  
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
        display: flex; 
    }

    &__mainName{
        color: white;
        cursor: pointer;
    }

    &__burgerMenu{
        display: none; 
        cursor: pointer; 

        @media (max-width: 768px) {
            display: flex; 
            color: black;
            align-items: center;
            position: absolute;
            right: 1rem;
            top: 1rem; 
            z-index: 2; 
        }

        &--icon{
            font-size: 30px;
            // color: white;

            @media (max-width: 768px) {
               color: black;
                // position: absolute; 
                // z-index: 1;
            }
        }
    }
}


// @media (max-width: 768px) {
//     .header .burgerMenu {
//         display: block; 
//     }
// }
