.menu{
    width: 30%;
    align-content: center;

    @media (max-width: 1320px) {
        width: 40%; 
    }

    @media (max-width: 1050px) {
        width: 50%; 
    }

    @media (max-width: 800px) {
        display: none;
    }


    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        color: white;
        font-weight: bold;
        font-size: 19px;
        margin: 0; 
        cursor: pointer;
    }
}




// ****** BURGER MENU ******
.menuOpen{

    //**** MENU 100% SCREEN *****
    @media (max-width: 800px) {
        display: flex;
        background-color: #e2d8ea;
        width: 100%;
        display: none; 
        flex-direction: column;
        position: absolute; 
        z-index: 1;
        right: 0; 
        top: 0px;
        width: 100vw;
        height: 100vh; 
        box-shadow: 3px 1px 10px rgb(67, 66, 66); 

            &__list {
                flex-direction: column; 
                align-items: center; 
                justify-content: space-evenly;
                color: white; 
                padding: 180px 0 100px 0;
                gap: 10px;

                &--item {
                    font-size: 1.75rem;
                }
            }     
    }
}


// **** MIRAR ****
@media (max-width: 800px) {
    .menu {
        display: none; 
    }

    .menuOpen{
        display: flex;
    }
}

.hidden{
    display: none;
}


.underneathDotItem {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 50%;
        transform: translateX(-50%);
        width: .25rem;
        height: .25rem;
        background-color: transparent;
        border-radius: 50%;
        transition: background-color 0.3s ease;
    }


    &:hover::after{
        background-color: white;
    }
}


// ***** DROPDOWN MENU *****
.dropdown {
    position: relative;;

    &__content {
        display: none;
        position: absolute;
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

        left: 50%;
        transform: translateX(-50%);
        width: 14vw;
        padding: 16px 0 20px 0;

        line-height: 1.8rem;

        border-bottom-left-radius: 10px; 
        border-bottom-right-radius: 10px; 
        border-top-left-radius: 4px; 
        border-top-right-radius: 4px; 

        border-bottom: 2px solid rgb(255, 255, 255);
        border-left: 2px solid  rgb(255, 255, 255);
        border-right: 2px solid  rgb(255, 255, 255);
        border-top: 0.5px solid  rgb(255, 255, 255);
 
        
        &--item {
            color: rgb(174, 201, 227);
            display: flex;
            flex-direction: column;
            align-items: center;

            &:hover {
                color: rgb(134, 160, 184);
            }

        }
    }

    &:hover .dropdown__content{
        display: block;


        @media (max-width: 1000px) {
            display: none; 
        }
    }
}

