
.projects{
    margin: 70px 0;

    &__title{
        text-align: center;
        font-size: 60px;
        font-family: 'Poppins';
        //font-style: italic;
        font-weight: 900;
        letter-spacing: -3px;
        margin-bottom: 70px;
        // background-image: url("/src/images/newyork.jpg");
        // //background-repeat: repeat;
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
    }
}