.quoteSection {
    color: white;
    position: relative; 
    z-index: 1;
    margin-bottom: 550px;

    // &__image{
    //     width: 100%;

    // }
    //background-image: url('/src/video/video1.mp4');

    &__video{
        width: 100%;
        position: absolute;
        z-index: -1;
        
        //right: 0;
        //bottom: 0;
        //width: 100vw;
        //height: 100vh;
    }

    // &__quote{
    //     //color: rgb(209, 209, 177);
    //    // color: rgb(146, 182, 195);
    //     color: white;
    //     position: relative;
    //     top: -700px;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     font-size: 50px;
    //     text-align: center;
    //     width: 60%;
    //     //background-color: black;
    // }


    &__coaching{
        //position: relative;
        // top: -600px;
        // left: 50%;
        //transform: translateX(-50%);
        font-size: 50px;
        text-align: center;
        //width: 60%;
        color: black;

        &--title{
            font-size: 50px;
        }

        &--description{
            font-size: 25px;
        }
    }


    &__yoga{
        // position: relative;
        // top: -400px;
        // left: 50%;
        // transform: translateX(-50%);
        font-size: 50px;
        text-align: center;
        //width: 60%;

        &--title{
            font-size: 50px;
        }

        &--description{
            font-size: 25px;
        }
    }
}