.resumeContainer{
    padding: 200px 30px;


    &__title {
        text-align: center;
        margin: -100px 0 100px 0;

        font-family: "Poppins";
        letter-spacing: -0.2rem;
        font-weight: bold;
        font-size: 4rem;
    }

    .resume{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        gap: 40px;
        

        &__techs{
            background-color: rgb(228, 244, 248);
            border: 10px solid rgb(172, 187, 229);
            padding: 60px 10px 40px 10px;
            display: flex;
            flex-direction: column;
            position: relative; 
    
            &--title{
                border-radius: 30px;
                padding: 10px 0px;
                margin-bottom: 20px;
                text-align: center;
                font-family: "Square Peg";
                font-size: 50px;
                font-weight: bold;
                color: white;
                position: absolute;
                top: -2.5rem; 
                
                padding: 0.1em 0.4em;
                border-radius: 0.8em 0.3em;
                background: transparent;
                background-image: linear-gradient(
                    to right,
                    rgba(7, 31, 42, 0.1),
                    rgba(140, 210, 229, 0.7) 4%,
                    rgba(143, 202, 205, 0.4)
                );
                -webkit-box-decoration-break: clone;
                box-decoration-break: clone;
                width: 50%;
                align-self: center;
            }
    
            &--techs{
                display: flex;
                justify-content: center;
                gap: 20px;
                display: flex;
                flex-wrap: wrap;
                padding: 12px 0 12px 0; 

                .techIconImage{
                    width: 100px;
                }    
            }
        }

        &__skills{
            background-color: rgb(228, 244, 248);
            border: 10px solid rgb(172, 187, 229);
            padding: 50px 10px 25px 10px;
            display: flex;
            flex-direction: column;
            position: relative; 

            &--title{
                text-align: center;
                padding: 10px 0px;
                margin-bottom: 20px;
                font-family: "Square Peg";
                font-size: 50px;
                font-weight: bold;
                color: white;
                position: absolute;
                top: -2.5rem; 

                padding: 0.1em 0.4em;
                border-radius: 0.8em 0.3em;
                background: transparent;
    
                background-image: linear-gradient(
                  to right,
                  rgba(180, 148, 180, 0.1),
                  rgba(167, 115, 187, 0.7) 4%,
                  rgba(177, 155, 191, 0.3)
                );
                
                -webkit-box-decoration-break: clone;
                box-decoration-break: clone;
                width: 50%;
                align-self: center;

            }

            .skills {
                display: flex;
                justify-content: space-evenly;
             
                &__listOne, &__listTwo {
                    list-style: none;
                    background: -webkit-linear-gradient(rgb(223, 191, 241) 0%, rgb(160, 203, 231) 50%, rgb(168, 214, 243) 100%);
                    background: -webkit-linear-gradient(rgb(201, 181, 207), rgb(113, 136, 167));
                    background: -webkit-linear-gradient(rgb(201, 181, 207), rgb(153, 197, 217));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: bold;
                    font-size: 28px;
                }

            }
        }
    }
}