.valuesSection{
    display: flex;

    &__image{
        width: 50%;
        //height: 100%;
        //position: sticky;
    }

    &__wrapper{
        width: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        //justify-content:space-around;
        align-items: center;
        gap: 30px;
        margin-top: -40px;
        overflow:auto;
        
        &--title{
            font-size: 60px;
            font-weight: 800;
            //font-weight: bold;
            font-family: "Poppins";
            letter-spacing: -3px;
            font-style: italic;
            //color: rgb(189, 157, 198);
            // background: linear-gradient(rgb(227, 193, 224) 0%, rgb(189, 148, 215) 100%);
            // -webkit-background-clip: text;
            //         background-clip: text;
            // -webkit-text-fill-color: transparent;
            // border: 0.8px solid black;
            // padding: 15px 40px;
            // border-radius: 50%;
            //background-image: url("/src/images/beach2.jpg");
            // background-image: url("/src/images//newyork.jpg");
            // //background-repeat: repeat;
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;


        }
    
        .valueOne{
            width: 50%;
            background-color: rgb(230, 221, 230);
            //margin-bottom: 30px;
            padding: 50px;
            margin-top: 30px;
            border: 1px solid black;
            

            &__title{
                font-size: 25px;
                margin-bottom: 20px;

                .valueSparkle{
                    width: 20px;
                }

            }

            &__text{
                font-size: 18px;

            }
    
        }

        .valueTwo{
            width: 50%;
            background-color: rgb(230, 221, 230);
            //margin-bottom: 30px;
            padding: 50px;
            border: 1px solid black;

            &__title{
                font-size: 25px;
                margin-bottom: 20px;

                .valueSparkle{
                    width: 20px;
                }

            }

            &__text{
                font-size: 18px;

            }
    
        }

        .valueThree{
            width: 50%;
            background-color: rgb(230, 221, 230);
            //margin-bottom: 30px;
            padding: 50px;
            border: 1px solid black;

            &__title{
                font-size: 25px;
                margin-bottom: 20px;

                .valueSparkle{
                    width: 20px;
                }

            }

            &__text{
                font-size: 18px;

            }
    
        }

        .valueFour{
            width: 50%;
            background-color: rgb(230, 221, 230);
            //margin-bottom: 30px;
            padding: 50px;
            border: 1px solid black;

            &__title{
                font-size: 25px;
                margin-bottom: 20px;

                .valueSparkle{
                    width: 20px;
                }

            }

            &__text{
                font-size: 18px;

            }
    
        }

        // .valueFive{
        //     width: 50%;
        //     background-color: rgb(230, 221, 230);
        //     //margin-bottom: 30px;
        //     padding: 50px;
        //     border: 1px solid black;

        //     &__title{
        //         font-size: 25px;
        //         margin-bottom: 20px;

        //         .valueSparkle{
        //             width: 20px;
        //         }

        //     }

        //     &__text{
        //         font-size: 18px;

        //     }
    
        // }
    }


}