.valuesSection{
    display: flex;

    // &__title{
    //     font-size: 40px;
    //     text-align: center;
    //     margin-bottom: 40px;
    // }

    &__image{
        width: 50%;
        //height: 100%;
        //position: sticky;
    }

    &__wrapper{
        width: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        //justify-content:space-around;
        align-items: center;
        gap: 30px;
        margin-top: -40px;
        overflow:auto;
        
        &--title{
            font-size: 40px;
            //text-align: center;
            //margin-bottom: 60px;
            //align-items: self-start;
        }
    
        .valueOne{
            width: 50%;
            background-color: rgb(230, 221, 230);
            //margin-bottom: 30px;
            padding: 50px;
            margin-top: 30px;
            border: 1px solid black;
            

            &__title{
                font-size: 25px;
                margin-bottom: 20px;

                .valueSparkle{
                    width: 20px;
                }

            }

            &__text{
                font-size: 18px;

            }
    
        }

        .valueTwo{
            width: 50%;
            background-color: rgb(230, 221, 230);
            //margin-bottom: 30px;
            padding: 50px;
            border: 1px solid black;

            &__title{
                font-size: 25px;
                margin-bottom: 20px;

                .valueSparkle{
                    width: 20px;
                }

            }

            &__text{
                font-size: 18px;

            }
    
        }

        .valueThree{
            width: 50%;
            background-color: rgb(230, 221, 230);
            //margin-bottom: 30px;
            padding: 50px;
            border: 1px solid black;

            &__title{
                font-size: 25px;
                margin-bottom: 20px;

                .valueSparkle{
                    width: 20px;
                }

            }

            &__text{
                font-size: 18px;

            }
    
        }

        .valueFour{
            width: 50%;
            background-color: rgb(230, 221, 230);
            //margin-bottom: 30px;
            padding: 50px;
            border: 1px solid black;

            &__title{
                font-size: 25px;
                margin-bottom: 20px;

                .valueSparkle{
                    width: 20px;
                }

            }

            &__text{
                font-size: 18px;

            }
    
        }

        // .valueFive{
        //     width: 50%;
        //     background-color: rgb(230, 221, 230);
        //     //margin-bottom: 30px;
        //     padding: 50px;
        //     border: 1px solid black;

        //     &__title{
        //         font-size: 25px;
        //         margin-bottom: 20px;

        //         .valueSparkle{
        //             width: 20px;
        //         }

        //     }

        //     &__text{
        //         font-size: 18px;

        //     }
    
        // }
    }


}